<a href="https://colab.research.google.com/github/andrewbhennessy/CS4641-Customer-Segmentation-Analysis/blob/main/Mid_Project_Report.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np
import sklearn as skl
import matplotlib
from google.colab import drive

In [10]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Customer Data segmentation

Link to Our Data: https://www.kaggle.com/carrie1/ecommerce-data

How to Mount Data:
1. Follow the Instructions in the Auth Cell
2. Click the file icon
3. Navigate to drive then the folder that I have shared should be CS4641 something
4. right click on the file and copy path to the file and input into the next code cell as the first paramater in quotes. 

Example:


```
data = pd.read_csv('/content/drive/My Drive/CS4641 Customer Data Segmentation/data.csv', encoding="ISO-8859-1", dtype={'CustomerID': str,'InvoiceID': str})
```

In [12]:
data = pd.read_csv("/content/drive/My Drive/CS4641 Customer Data Segmentation/data.csv", encoding="ISO-8859-1", dtype={'CustomerID': str,'InvoiceID': str})

# 1. Introduction/Background
> ## 1.1 Subpoints
> ## 1.2 Subpoints
> ## 1.3 Subpoints
> ## 1.4 Subpoints
#Problem definition
> ## 1.1 Subpoints
> ## 1.2 Subpoints
> ## 1.3 Subpoints
> ## 1.4 Subpoints
#Data Collection
> ## 1.1 Subpoints
> ## 1.2 Summary of Data

In [13]:
data.head(5)

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...      17850  United Kingdom
1    536365     71053  ...      17850  United Kingdom
2    536365    84406B  ...      17850  United Kingdom
3    536365    84029G  ...      17850  United Kingdom
4    536365    84029E  ...      17850  United Kingdom

[5 rows x 8 columns]

#Methods
> ## 1.1 Subpoints
> ## 1.2 Subpoints
> ## 1.3 Subpoints
> ## 1.4 Subpoints
#Results
> ## 1.1 Subpoints
> ## 1.2 Subpoints
> ## 1.3 Subpoints
> ## 1.4 Subpoints
#Discussion
> ## 1.1 Subpoints
> ## 1.2 Subpoints
> ## 1.3 Subpoints
> ## 1.4 Subpoints